.club {
  background-color: #6fa744;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.club span {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  width: 3rem;
  text-align: center;
  padding: 0.5rem;
}
span.team {
  width: 100%;
}
.logo {
  width: 64px;
  height: 64px;
}
