.toggler {
  color: black;
  padding: 0.5rem;
  display: none;
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .toggler {
    display: block;
  }
}
