.menu-item {
  color: black;
  padding: 1rem;
}
.active-tab {
  font-weight: 800;
  color: #4284f4 !important;
}
@media only screen and (max-width: 768px) {
  .menu-item {
    padding: 0.5rem;
  }
}
