.fa-spin {
  position: absolute;
  font-size: 2rem;
  color: black;
  top: calc(50vh - 1rem);
  right: calc(50vw - 1rem);
}
.loader {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: #00000057;
  position: absolute;
  top: 0;
  left: 0;
}
