.card-header img.player {
  height: 120px;
  width: 120px;
}
.card-header {
  background-color: #2e4d2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.card-header span {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
}
span.card-title {
  font-size: 1.2rem !important;
  color: white;
  font-weight: 500;
  margin-bottom: 1rem;
}
.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
  padding: 2rem;
}
.card-body span.card-info {
  font-size: 1rem;
  padding: 0.5rem;
}
.card-body span.info {
  font-size: 0.9rem;
}
