.tab {
  border: solid gray 2px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
.tab.active {
  background-color: #f8bd14ba;
  color: white;
  font-weight: bold;
}
.tab:first-child {
  border-right: 0;
}
