.show {
  display: flex !important;
}
.menu {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .menu {
    background-color: white;
    display: none;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    z-index: 2;
    width: 95vw;
  }
}
