.modal-background {
  z-index: 3;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 80%;
  height: 80%;
  position: relative;
}
.modal-background.active {
  display: flex;
}
.modal > i {
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  top: 0;
  position: absolute;
  right: calc(0% + 5px);
  top: 5px;
}
