.profile {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  box-shadow: black 0px 0px 5px 0px;
  object-fit: contain;
  margin-top: 5px;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .profile {
    margin-right: inherit;
  }
}
