.head {
  background-color: #7f7f7f;
  color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: #00000047 0px 2px 5px 1px;
  z-index: 1;
  position: relative;
  display: flex;
}
.title {
  width: 100%;
}

.head span.short {
  width: 3rem;
  text-align: center;
}
