.fc-logo {
  height: 64px;
  width: 64px;
  max-height: 64px;
  max-width: 64px;
}
.game-info {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
.game-info .date {
  text-align: center;
}
.grass {
  background-color: #6fa744;
  padding: 1rem;
}
.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.one-per-line {
  word-spacing: 4rem;
  width: 4rem;
  text-align: center;
}
