img.player {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
div.player {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 1rem;
}
div.player span {
  padding: 0.2rem;
  width: 100%;
  font-size: 0.8rem;
}
